@charset "UTF-8";

.form-signin{position:absolute;right:50%;transform:translate(50%);width:750px;border:1px solid #6c757d; padding:60px; border-radius:20px; box-sizing: border-box;}
.form-signin caption{caption-side: top;}
.form-signin th{background-color:#f0f0f5; font-size:0.9em; color:#6c757d;}
.data_role{font-size:0.8em;color:#6c757d;}
.join_custom_group > div > input , select{width:121px !important;}
.form-signin > input[type="text"]{font-size:0.8em !important;}
input::placeholder{font-size:0.8em;color:#6c757d;}
.invalid_data{color:red;margin-top:5px;margin-bottom:0px;font-size:0.8em;}